/*
Footer:
------------------
*/
.mc-footer {
    padding: 0px 0px;

    ul {
        list-style-type: none;
        padding: 0;
    }

    hr {
        visibility: hidden;
        background-color: $blue;
    }

    &__copyright {
        margin-top: 80px;
        font-size: 14px;
        padding: 10px;
    }

    @media (min-width: 768px) {
        padding: 80px 0px;
        
        hr {
            visibility: visible;
        }
    }

}
