/*
Spinner:
------------------
*/
.mc-spinner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-bg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000000000;
    visibility: visable;
}
