html {
    scroll-behavior: smooth; 
    font-size: $font-size__default;
}

body {
    font-family: $font-family;
}

// For the theme toggle switch
.custom-control-input:checked~.custom-control-label::before {
    background-color: $red;
}
