/*
404 Page
------------------
*/
.mc-page-404 {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $dark-bg;
    z-index: 1000;
    color: $blue;

    h1 {
        font-size: 144px;
        font-weight: 900;
        color: $blue;
    }
}
