<section class="mc-featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <h5 class="text-blue">Featured Posts</h5>
                    <nav>
                        <button type="button" class="btn btn-sm btn-outline-primary mc-featured__btn-previous">&#60;</button>
                        <button type="button" class="btn btn-sm btn-outline-primary mc-featured__btn-next">&#62;</button>
                    </nav>
                </div>
                <hr>
                <ul class="mc-featured__slide d-flex">
                    {{ range first 3 (where .Site.RegularPages "Params.featured" true)}}
                    <li class="mc-featured__post">
                        <div class="mc-featured__overlay">
                            <a class="mc-featured__link text-primary" href="{{ .Permalink }}"><h3>{{ .Title }}<span class="ml-2"><i class="fas fa-chevron-circle-right"></i></span></h3></a>
                        </div>
                        <div class="mc-featured__image mb-2" style="background-image: url('{{ .Params.featuredImage }}')"></div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
