<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 offset-lg-2">
            <div class="d-flex align-items-center pt-3">
                <i style="font-size: 14px" class="fas fa-sun mr-2"></i>
                <div class="custom-control custom-switch">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="mc-theme-switch"
                        checked
                    />
                    <label
                        class="custom-control-label"
                        for="mc-theme-switch"
                    ></label>
                </div>
                <i style="font-size: 14px" class="fas fa-moon"></i>
            </div>
        </div>
    </div>
</div>
